name: CI/CD Pipeline

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Install dependencies
      run: npm install

    - name: Build docs
      run: npm run build --filter=docs
    
    - name: Build mobile
      run: npm run build --filter=mobile

    - name: Build web
      run: npm run build --filter=web
    
    - name: Build pc
      run: npm run build --filter=pc
    
    - name: prepare deploy folder
      run: |
        mkdir -p public/docs
        mkdir -p public/mobile

        cp -r apps/mobile/dist/* public/mobile/
        cp -r apps/docs/out/* public/docs/
    
    - name: Upload build artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: public
  
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: send slack notification
        id: slack-start
        uses: slackapi/slack-github-action@v1.27.0
        with:
           payload: '{"text":"배포 시작 테스트합니다!"}'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4